{
    auto_https off
}

:{$PORT:3000}, datagosgconsultingcom-production.up.railway.app, data.sparti.ai {
    root * /app/dist
    encode gzip
    try_files {path} /index.html
    file_server
    header Access-Control-Allow-Origin *
}
